*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: wheat;
}

h1{
    margin-bottom: 100px;
    color: darkblue;
}


#b1{
    padding: 8px 16px; 
    border: 0; 
    outline:0; 
    border-radius:4px; 
    background-color:blueviolet; 
    cursor:pointer;
}

#b2{
    padding: 8px 16px; border:0; outline:0; border-radius:4px; background-color:blueviolet; cursor:pointer;
}